@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,900');
body{
padding-top: 20px;
font-family: 'Lato', sans-serif;
position: relative; 
color: #000;
font-size: 16px; 
text-align: center;
text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
background-repeat: repeat-x;
font-weight: bold;
font-weight: 300;

}
.container{
  width: 768px;
}
@media(max-width: 768px){
  .container{
    width: 100%;
  }
 .navbar-default .navbar-brand {
    color: #784CAB;
}
}
}
.navbar-default{
  background: #fff;
  border-radius: 0;
  margin-bottom: 0;
}
.jumbotron {
  background-color:#784cab; 
 background-image: linear-gradient(to bottom,  #784CAB 0px,#491E7B 100%); 
}
   
.jumbotron h2{
padding-top: 100px;
color: #fff;
font-size: 48px;
text-transform: uppercase;
font-weight: 100;

}
@media(max-width: 768px)
{
 .jumbotron h2{  
font-size: 32px;
 
}
}
.jumbotron  p{  
color: #a5a5a5;
font-size: 16px;
text-transform: uppercase;
}
 
.about p{
  margin-bottom: 30px;
}
.services h2{
  margin-top: 30px;
  margin-bottom: 30px;
} 
.services h4{
  margin-bottom: 30px;
}
.services h5{
  margin-bottom: 30px;
}
@media(max-width: 960px){
  .services .img-responsive{
    display: block;
    width: 45%;
  }
}
 .footer a{
	color: #555;
} 
.footer_bootom{
    background: #555;
    color: #fff;
}
.footer .aproved_image{
    max-width: 25%;
    display: inline-block;
    padding-top: 45px;
}
.footer .btn{
    border-radius: 25px;
}
.footer .form-control{
    border-radius: 25px;
}
.footer{
    color: #fff;
}
