@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
body{
padding-top: 20px;
font-family: 'Slabo 27px', serif;
position: relative; 
color: #555;
text-align: center;
text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
background-repeat: repeat-x;
font-weight: bold;

}
 
.jumbotron {
    background-color: #3E7A9F;
background-image: linear-gradient(to bottom, #487CA3 0px, #116D96 100%);
}
.aproved_image{
    max-width: 50%;
    display: inline-block;
}
.content p {
    color: #fff;
    font-size: 12px;
    line-height: 2px;
}
.jumbotron h2{
	color: #fff;
}
.jumbotron  p{  
	color: #fff;
	font-size: 14px;
}
.jumbotron .btn-default{
     
    border-radius: 25px;
}
.container{
	width: 768px;
	margin:0 auto;
	ba 
}
@media(max-width: 768px){
	.container{
		width: 100%;
	}
    .portfolio_image{
        border-radius: 50%;
    }
}
.navbar-default{
	background: #fff;
	border-radius: 0;
	margin-bottom: 0;
}
 .footer a{
	color: #555;
}
.panel-default{
    background-color: #3E7A9F;
background-image: linear-gradient(to bottom, #487CA3 0px, #116D96 100%);
   box-shadow: 0 0 15px   #555;
    transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    border-radius: 0px;
    color:#fff;
}

.panel-default:hover {
   box-shadow: 0 0 5px   #555;
    transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    border-radius: 0px;
}
.landing-section{
	background-color: #3E7A9F;
background-image: linear-gradient(to bottom, #487CA3 0px, #116D96 100%);
} 
.services{
    padding : 60px;
    text-align: center
}
 
.footer_bootom{
    background: #2A4B63;
    color: #fff;
}
.footer .aproved_image{
    max-width: 100%;
    display: inline-block;
}
.footer .btn{
    border-radius: 25px;
}
.footer .form-control{
    border-radius: 25px;
}
.footer{
    color: #fff;
}