/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
body{
padding-top: 20px;
font-family: 'Slabo 27px', serif;
position: relative; 
color: #555;
text-align: center;
text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
background-repeat: repeat-x;
font-weight: bold;

}
 
.jumbotron {
    background-color: #3E7A9F;
background-image: linear-gradient(to bottom, #487CA3 0px, #116D96 100%);
}
.aproved_image{
    max-width: 25%;
    display: inline-block;
}
 
.content p {
    color: #fff;
    font-size: 12px;
    line-height: 2px;
}
.jumbotron h2{
	color: #fff;
}
.jumbotron  p{  
	color: #fff;
	font-size: 14px;
}
.jumbotron .btn-default{
     
    border-radius: 25px;
}
.container{
	width: 768px;
	margin:0 auto;
	 
}
@media(max-width: 992px){
	.container{
		width: 100%;
	}
    .portfolio_image{
        border-radius: 50%;
    }
    .align{
        text-align: center !important;
    }

}
 
 
.navbar-default{
	background: #fff;
	border-radius: 0;
	margin-bottom: 0;
}
 .footer a{
	color: #555;
}
.panel-default{
    background-color: #3E7A9F;
background-image: linear-gradient(to bottom, #487CA3 0px, #116D96 100%);
   box-shadow: 0 0 15px   #555;
    transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    border-radius: 0px;
    color:#fff;
}

.panel-default:hover {
   box-shadow: 0 0 5px   #555;
    transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    border-radius: 0px;
}
.landing-section{
	background-color: #3E7A9F;
background-image: linear-gradient(to bottom, #487CA3 0px, #116D96 100%);
} 
.services{
    padding : 60px;
    text-align: center
}
 
.contact-form{
  height: 25%;
  width: auto;
}
.footer_bootom{
    background: #2A4B63;
    color: #fff;
}
.footer .aproved_image{
    max-width: 25%;
    display: inline-block;
    padding-top: 45px;
}
.footer .btn{
    border-radius: 25px;
}
.footer .form-control{
    border-radius: 25px;
}
.footer{
    color: #fff;
}
.heart {
    font-size: 152px;
    text-align: center;
    color: rgba(165, 25, 25, 1);
    padding: 0;
    margin: 0;
}

.pulse1 {
    -webkit-animation: pulse1 1s linear infinite;
    -moz-animation: pulse1 1s linear infinite;
    -ms-animation: pulse1 1s linear infinite;
    animation: pulse1 1s linear infinite;
}

@keyframes "pulse1" {
 0% {
    color: rgba(165, 25, 25, 1);
 }
 90% {
    color: rgba(255,0,0,0.0);
 }
 100% {
    color: rgba(255,0,0,1.0);
 }

}

@-moz-keyframes pulse1 {
 0% {
   color: rgba(165, 25, 25, 1);
 }
 90% {
   color: rgba(255,0,0,0.0);
 }
 100% {
   color: rgba(255,0,0,1.0);
 }

}

@-webkit-keyframes "pulse1" {
 0% {
   color: rgba(165, 25, 25, 1);
 }
 90% {
   color: rgba(255,0,0,0.0);
 }
 100% {
   color: rgba(255,0,0,1.0);
 }

}

@-ms-keyframes "pulse1" {
 0% {
   color: rgba(165, 25, 25, 1);
 }
 90% {
   color: rgba(255,0,0,0.0);
 }
 100% {
   color: rgba(255,0,0,1.0);
 }

}

.pulse2 {
    -webkit-animation: pulse2 1s linear infinite;
    -moz-animation: pulse2 1s linear infinite;
    -ms-animation: pulse2 1s linear infinite;
    animation: pulse2 1s linear infinite;
}

@keyframes "pulse2" {
 0% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
 }
 50% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
 }
 100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
 }

}

@-moz-keyframes pulse2 {
 0% {
   -moz-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -moz-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -moz-transform: scale(1);
   transform: scale(1);
 }

}

@-webkit-keyframes "pulse2" {
 0% {
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -webkit-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -webkit-transform: scale(1);
   transform: scale(1);
 }

}

@-ms-keyframes "pulse2" {
 0% {
   -ms-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -ms-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -ms-transform: scale(1);
   transform: scale(1);
 }

}
/************blogs*************/
.all_blogs{
  padding-top:100px;
  text-align: left;
}
.all_blogs h3{
  color: #3E7A9F;
}
